body {
    text-align: center;
    background-color: darkgray;
}
h1{
    color: white;    
}
#enterTitle{
    padding: 10px;
}
#random{
    margin: 15px;
    padding: 10px;
}
#results{
    font-size: 16px;
    padding: 10px;
}